@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "chillax";
  src: url("./assets/fonts/Chillax-Variable.ttf");
}

.container {
  margin: 0 auto;
  padding: 0 8px;
  max-width: 1330px;
}
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply font-chillax;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1330px];
  }
}
